<nav class="site-navbar navbar navbar-expand-md bg-body-tertiary border-bottom">
    <div class="site-navbar-container container">

        <a class="navbar-brand" href="/">
            Julian Ozel Rose
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/about/">
                        About
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/resume/">
                        Resume
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <button
                        class="nav-link dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Projects
                    </button>

                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/projects/">
                                All Projects
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item" href="/projects/tomb-raider/">
                                Tomb Raider Remastered Savegame Editor
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/projects/tp-link-router/">
                                TP-Link Router Hardware Hacking
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/projects/file-attribute-changer/">
                                File Attribute Changer
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/projects/hardwar/">
                                HardWar Savegame Editor
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/contact/">
                        Contact
                    </a>
                </li>

                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="https://github.com/JulianOzelRose"
                        target="_blank"
                        rel="noopener noreferrer">
                        GitHub
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>